@page "/chat"

<div class="main-container">
    <div class="second-container">
        <div class="contact-container">
            <ContactsPage/>
        </div>
        <div class="chat-container">
            <ChatPage/>
        </div>
    </div>
</div>
@code {
    
}