<div class="chat-header">
    
    @if (UserProfilePhoto is null)
    {
        <div class="circle-profile">
            HM
        </div>    
    }
    else
    {
        <div>
            <img src="Machine Made High Quality Carpet.png" class="profile-photo"/>
        </div>    
    }
    

    <div class="user-name">
        Rasheed Mozaffar
    </div>
</div>
<div class="chat-area" id="chatArea">
    <div class="sender">
        <div class="message">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore etlor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmlor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laborod tempor incididunt ut labord tempor incididunt ut labor dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        </div>
    </div>

    <div class="receiver">
        <div class="message">
            <p>Hey There!</p>
        </div>
    </div>

    <div class="sender">
        <div class="message">
            <p>Hello, What do you think about hanging out tonight?</p>
        </div>
    </div>

    <div class="receiver">
        <div class="message">
            <p>Hey There!</p>
        </div>
    </div><div class="receiver">
        <div class="message">
            <p>Hey There! , Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
        </div>
    </div>

    <div class="sender">
        <div class="message">
            <p>Hello, What do you think about hanging out tonight?</p>
        </div>
    </div>

    <div class="receiver">
        <div class="message">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet,</p>
        </div>
    </div>
</div>
<div class="chat-footer">
    <div action="" class="message-container">
        <input type="text" placeholder="send message.."/>
        <button type="submit"><i class="fa-solid fa-play" style="color: #ffffff;"></i></button>
    </div>
</div>     

@code {
    [Parameter] public string UserProfilePhoto { get; set; }
}