@page "/chat"

<div class="main-container">
    <div class="second-container">
        <div class="navbar-container" id="navbar">
            <a href="/" style="color: #ffffff; text-decoration: none;">
                <i class="fa-solid fa-house"></i>
            </a>
            <div class="line"></div>
            <i onclick="showPage('myContacts')" class="fa-solid fa-address-book" style="color: #ffffff;"></i>
            <div class="line"></div>
            <i onclick="showPage('newContact')" class="fa-solid fa-users" style="color: #ffffff;"></i>
            <div class="line"></div>
            <i onclick="showPage('notification')" class="fa-solid fa-bell " style="color: #ffffff;"></i>
        </div>
        <div class="contact-container" id="contact">
            <div id="myContactsPage">
                <MyContactsPage/>
            </div>
            <div id="newContactsPage" style="display: none;">
                <NewContactsPage/>
            </div>
            <div id="NotificationsPage" style="display: none;">
                <NotificationPage/>
            </div>
        </div>
        <div class="chat-container" id="chat">
            <ChatPage/>
        </div>
    </div>
</div>


@code {
    
}