.chat-header {
    display: flex;
    align-items: center;
    gap: .75rem;
    padding: .75rem;
    border-bottom: #E8E8E8 1px solid;
}

.profile-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 1;
}

.circle-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 1;
    background: #0a53be;
    color: white;
}

.user-name {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    z-index: 0;
    opacity: 0.3;
}

.chat-area {
    flex: 1; /* This makes the content take up the remaining space */
    overflow-y: auto; /* Scrollable content if it overflows */
    padding: 10px;
}

.sender {
    display: flex;
    justify-content: end;
}

.message {
    display: flex;
    justify-content: right;
    width:max-content;
    max-width: 50%;
    padding: .25rem 1.2rem;
    margin: 1rem;
    border-radius: 8px;
    font-size: medium;
    background: #E8E8E8;
    word-wrap: break-word; /* Ensures long words break within the box */
    overflow-wrap: break-word; /* Makes text wrap correctly */
    box-sizing: border-box;
}

.receiver .message {
    background-color: #012e50;
    color:white;
}

.chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.message-container {
    width: 100%;
    height: 3rem;
    background: #E8E8E8;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 10px 20px;
}

.message-container input {
    background-color: transparent;
    flex:1;
    border : 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
}


.message-container button {
    border: 0;
    background-color: #012e50;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.message p {
    margin: 0;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 75%;
    margin: 1%;
    background-color: #ffffff;
    box-sizing: border-box ;
    border-radius: 25px;
    float: left;
}

.toggle-sidebar {
    display: none;
}


@media (max-width: 1100px) {
    .chat-container {
        width: 98%;
    }

    .toggle-sidebar {
        display: block;
        cursor: pointer;
    }
}

.chat-container.hide {
    display: none; /* Hidden when screen width is below 1100px */
    width: 0;
}



/* Mobile Responsiveness */
@media (max-width: 768px) {

    .profile-photo {
        width: 30px;
        height: 30px;
    }

    .user-name {
        font-size: 14px;
    }

    .message {
        max-width: 75%;
        padding: .5rem;
    }

    .receiver .message {
        max-width: 75%;
    }

    .message-container input {
        padding: 18px 20px;
        font-size: 18px;
    }
    
    .message-container button {
        width: 30px;
        height: 30px;
    }
}

/* Small mobile responsiveness */
@media (max-width: 480px) {

    .message {
        font-size: small;
        padding: .2rem 1rem;
    }
    .message-container input {
        font-size: 16px;
        padding: 15px 15px;
    }
}