@page "/chat"

<div class="main-container">
    <div class="second-container">
        <div class="contact-container" id="contact">
            <ContactsPage/>
        </div>
        <div class="chat-container" id="chat">
            <ChatPage/>
        </div>
    </div>
</div>


@code {
    
}