@page "/chat"
@using Application.DTOs.Request.Entities
@using Application.Extension
@using Blazored.LocalStorage
@inject SelectedUserState _SelectedUserState
@inject NotificationState _NotificationState
@inject AppState _AppState
@inject LocalStorageService LocalStorageService
@implements IDisposable

<div class="main-container">
    <div class="second-container">
        <div class="navbar-container" id="navbar">
            <a href="/" style="color: #ffffff; text-decoration: none;">
                <i class="fa-solid fa-house"></i>
            </a>
            <div class="line"></div>
            <i @onclick='() => ShowPage("myContactsPage")' class="fa-solid fa-address-book" style="color: #ffffff;"></i>
            <div class="line"></div>
            <i @onclick='() => ShowPage("newContactsPage")'class="fa-solid fa-users" style="color: #ffffff;"></i>
            <div class="line"></div>
            <i @onclick='() => ShowPage("notificationsPage")' class="fa-solid fa-bell" style="color: #ffffff; position: relative;">
                <span class="notification-counter">
                 @(_notificationCount > 0 ? _notificationCount.ToString() : "0")
                </span>
            </i>    

        </div>

        <div class="contact-container" id="contact">
            @if (currentPage == "myContactsPage")
            {
                <MyContactsPage />
            }
            else if (currentPage == "newContactsPage")
            {
                <NewContactsPage />
            }
            else if (currentPage == "notificationsPage")
            {
                <NotificationPage />
            }
        </div>
        @if (!string.IsNullOrEmpty(_SelectedUserState.ReceiverId))
        {
            <div class="chat-container" id="chat">
                <ChatPage ReceiverId="_receiverId"/>
                </div>
        }
        else
        {   
            <div class="chat-container-unselected">
                <div class="unselected-message">
                    <p>Select a contact to chat...</p>
                </div>
            </div>
        }
        
    </div>
</div>


@code {
    private string _receiverId;
    private int _notificationCount;
    private string currentPage = "newContactsPage"; // Default page

    private void ShowPage(string page)
    {
        currentPage = page;
    }
    
    protected override async Task OnInitializedAsync()
    {
        await _NotificationState.InitializeAsync(); // Ensure SignalR connection starts globally
        
        _NotificationState.OnNotificationCountChange += OnNotificationCountChange;
        _notificationCount = _NotificationState.NotificationsCount;
    }
    
    private void OnNotificationCountChange()                                                           
    {
        _notificationCount = _NotificationState.NotificationsCount;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _SelectedUserState.OnChange -= StateHasChanged;
        _NotificationState.OnNotificationCountChange -= OnNotificationCountChange;
    }

}