html, body{
    height: 100%;
    margin: 0;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.second-container{
    display: flex;
    width: 95%;
    height: 95%;
    padding: 1px;
    background-color: #E8E8E8;
    box-sizing: border-box ;
    border-radius: 25px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 1% 1% 1% 0%;
    background-color: #ffffff;
    box-sizing: border-box ;
    border-radius: 25px;
    float: left;
}

.contact-container {
    position: relative; /* This ensures absolute positioning inside it */
}

.contact-body {
    position: relative; /* Allow child elements to be positioned relative to this */
}

.contact-container {
    display: flex;
    flex-direction: column;
    width: 23%;
    margin: 1%;
    background-color: #ffffff;
    box-sizing: border-box ;
    border-radius: 25px;
    float: right;
    overflow:auto;
    scrollbar-width: none;
}


.chat-container.hide {
    display: none; /* Hidden when screen width is below 1100px */
    width: 0;
}

.contact-container.open {
    display: block; /* Hidden when screen width is below 1100px */
    width: 100%;
}

.navbar-container.open {
    display: block;
    display: flex;
    margin: 1rem;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background:#012e50;
    border-radius: 10px;
    width: 2%;
    max-height: fit-content;
    padding:1rem;
    margin-top:1rem;
    margin-left: 1rem;
}

.navbar-container i {
    cursor: pointer;
}

.line {
    width: 10px;
    height: 1px;
    background-color: #777;
}


@media (max-width: 1100px) {
    .chat-container {
        width: 98%;
        margin: 1%;
    }

    .contact-container {
        display: none;
    }
}

@media (max-width: 1100px) {
    .chat-container {
        width: 98%;
    }

    .contact-container {
        display: none;
    }

    .toggle-sidebar {
        display: block;
    }
    
    .navbar-container {
        display: none;
    }
}

/* Mobile Responsiveness */
@media (max-width: 768px) {

    .profile-photo {
        width: 30px;
        height: 30px;
    }

    .user-name {
        font-size: 14px;
    }

    .message {
        max-width: 75%;
        padding: .5rem;
    }

    .receiver .message {
        max-width: 75%;
    }

    .message-container input {
        padding: 18px 20px;
        font-size: 18px;
    }

    .contact-body {
        flex-direction: row;
        justify-content: flex-start;
    }

    .contact-body .contact-user-name {
        font-size: 14px;
    }

    .contact-profile-photo {
        width: 35px;
        height: 35px;
        margin: 0;
    }

    .search-bar input {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
    }

    .message-container button {
        width: 30px;
        height: 30px;
    }
}

.unselected-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

@media (max-width: 480px) {

    .message {
        font-size: small;
        padding: .2rem 1rem;
    }
    .message-container input {
        font-size: 16px;
        padding: 15px 15px;
    }

    .contact-container {
        display: none;
    }
}