<div class="contact-header">                  
                    <i class="fa-solid fa-backward"></i>
                    <div class="search-bar">
                        <input type="text" placeholder="Search..." />
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>                 
                </div>
                <a href="youtube.com">
                    <div class="contact-body">                    
                        <img src="Machine Made High Quality Carpet.png" class="contact-profile-photo" />
                        <div class="contact-user-name">
                            Rasheed Mozaffar is a bad ass
                        </div>                    
                    </div>    
                </a>
                         
                    
                    <div class="contact-body">                    
                        <img src="Machine Made High Quality Carpet.png" class="contact-profile-photo" />
                        <div class="contact-user-name">
                            Rasheed Mozaffar is a bad ass
                        </div>                    
                    </div>   

                    <div class="contact-body">                    
                        <img src="Machine Made High Quality Carpet.png" class="contact-profile-photo" />
                        <div class="contact-user-name">
                            Rasheed Mozaffar is a bad ass
                        </div>                    
                    </div>   

                    <div class="contact-body">                    
                        <img src="Machine Made High Quality Carpet.png" class="contact-profile-photo" />
                        <div class="contact-user-name">
                            Rasheed Mozaffar is a bad ass
                        </div>                    
                    </div>    
                    <div class="contact-body">                    
                        <img src="Machine Made High Quality Carpet.png" class="contact-profile-photo" />
                        <div class="contact-user-name">
                            Rasheed Mozaffar is a bad ass
                        </div>                    
                    </div> 
                    <div class="contact-body">                    
                        <img src="Machine Made High Quality Carpet.png" class="contact-profile-photo" />
                        <div class="contact-user-name">
                            Rasheed Mozaffar is a bad ass
                        </div>                    
                    </div> 
                    <div class="contact-body">                    
                        <img src="Machine Made High Quality Carpet.png" class="contact-profile-photo" />
                        <div class="contact-user-name">
                            Rasheed Mozaffar is a bad ass
                        </div>                    
                    </div> 
                    <div class="contact-body">                    
                        <img src="Machine Made High Quality Carpet.png" class="contact-profile-photo" />
                        <div class="contact-user-name">
                            Rasheed Mozaffar is a bad ass
                        </div>                    
                    </div> 
                    <div class="contact-body">                    
                        <img src="Machine Made High Quality Carpet.png" class="contact-profile-photo" />
                        <div class="contact-user-name">
                            Rasheed Mozaffar is a bad ass
                        </div>                    
                    </div>      