@using Application.DTOs.Request.Entities
@using Application.Extension
@using Domain.Models.ChatModels
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.SignalR.Client
@inject LocalStorageService LocalStorageService
@inject NavigationManager _navigation
@inject AvailableUserState state
@inject ReceiverChangeState _Receiver
@inject NotificationState _NotificationState

<AuthorizeView>
    @foreach (var contact in ThreadRequests)
    {
    
    @if (UserProfilePhoto is null)
    {
        <div>
            <div class="contact-body">
                <div class="circle-profile"></div>
                <div class="contact-info">
                    <div class="contact-user-name">
                        <a>@_statusMessage</a>
                        <a>@contact.SenderFullname</a>
                    </div>

                    <div class="last-message">
                        @contact.SentDate.ToString("h:mm tt")
                    </div>


                </div>
                <div class="status-buttons">
                    <div class="accept-button" @onclick="() => AcceptThreadRequest(contact)"><i class="fa-solid fa-check" style="color: green;"></i></div>
                    <div class="reject-button" @onclick="() => RejectThreadRequest(contact)"><i class="fa-solid fa-x" style="color: red;"> </i></div>
                </div>
            </div>
        </div>
    }
    }
    

    <div class="new-contact">
        <div class="circle"><i class="fa-solid fa-user-plus" style="color: #ffffff;"></i></div>
    </div>
</AuthorizeView>

@code {

    private string _senderId = string.Empty;
    private string _receiverId = string.Empty;
    private string _statusMessage = string.Empty;
    private HubConnection? _hubConnection;

    [Parameter] public string UserProfilePhoto { get; set; }

    [CascadingParameter] public Task<AuthenticationState> authenticationState { get; set; }
    
    private List<AvailableUserDto> AvailableUsers { get; set; } = [];
    private List<ThreadRequestDto>? ThreadRequests { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        var tokenModel = await LocalStorageService.GetModelFromToken();
        var accessToken = tokenModel?.Token;
        
        var httpClient = new HttpClient();
        
        _NotificationState.OnNotificationCountChange += StateHasChanged;
        
        if (string.IsNullOrEmpty(accessToken))
        {
            _navigation.NavigateTo("/login");
            return;
        }

        _receiverId = await LocalStorageService.GetUserIdFromToken();

        _hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7201/chathub", 
                options => 
                { options.AccessTokenProvider = () => Task.FromResult<string?>(accessToken); })
            .WithAutomaticReconnect()
            .Build();

        _hubConnection.On<ThreadRequest>("ReceiveThreadRequest", async (request) =>
        {
            try
            {
                ThreadRequests = await httpClient.GetFromJsonAsync<List<ThreadRequestDto>>(
                    $"https://localhost:7201/api/chats/thread/receive/?ReceiverId={_receiverId}");

                _NotificationState.UpdateNotificationCount(ThreadRequests.Count);
                
                Console.WriteLine($"Received thread request from {request.SenderId}");

                await InvokeAsync(StateHasChanged); 
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error fetching thread requests: {ex.Message}");
            }
        });
        await _hubConnection.StartAsync();
        await GetCurrentUserAuthentication();
        
        ThreadRequests = await httpClient.GetFromJsonAsync<List<ThreadRequestDto>>(
            $"https://localhost:7201/api/chats/thread/receive/?ReceiverId={_receiverId}");
        
        _NotificationState.UpdateNotificationCount(ThreadRequests.Count);
        
    }

    private async Task AcceptThreadRequest(ThreadRequestDto model)
    {
        ThreadRequests?.Remove(model);
        
        _NotificationState.UpdateNotificationCount(ThreadRequests?.Count ?? 0);
        
        await InvokeAsync(StateHasChanged);
        
        await _hubConnection.SendAsync("AcceptThreadRequest", model);
    }

    private async Task RejectThreadRequest(ThreadRequestDto model)
    {
        ThreadRequests?.Remove(model);
        
        _NotificationState.UpdateNotificationCount(ThreadRequests?.Count ?? 0);
        
        await InvokeAsync(StateHasChanged);
        
        await _hubConnection.SendAsync("RejectThreadRequest", model);
    }
    
    private async Task GetCurrentUserAuthentication()
    {
        var user = (await authenticationState).User;
        if (user.Identity!.IsAuthenticated == true)
        {
            await _hubConnection!.SendAsync("AddAvailableUserAsync", new AvailableUser()
            {
                UserId = user.Claims.FirstOrDefault(u => u.Type == ClaimTypes.NameIdentifier)!.Value
            });
        }
    }
    

  }
