body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url('/img/aoublur.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

